@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body, html {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: auto;          /* чтобы скролл работал */
  overflow-y: auto;      /* включаем вертикальный скролл */
  margin: 0;
  padding: 0;
}

.card {
  margin: 16px auto;          /* центрируем карточки */
  background-color: #fff;
  border: 1px solid #cbd5e0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  padding: 32px;
  width: 100%;                /* карточка занимает всю ширину родителя */
  max-width: 800px;           /* но не больше 800px */
  box-sizing: border-box;     /* padding включается в ширину */
}

input {
  padding: 10px 0;
  border-radius: 0.125rem;
  border: 1px solid rgb(226, 232, 240);
  background-color: #fdfdfe;
  padding-inline-start: 0.75rem;
  font-size: 0.875rem;
  margin: 0 0 16px 0;
  width: 100%;                /* input занимает всю ширину карточки */
  box-sizing: border-box;     
}
